.education-info {
    display: flex;
    margin-left: 1rem;
    justify-content: flex-start;
    gap: 3rem;
}

.info-column {
    text-align: start;
}

.education-info #school-name {
    font-weight: bolder;
}